/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Awal style */

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  height: 1024px;
}

.container {
  width: 1048px;
  margin: 80px auto;
  background-color: #fff;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  margin: 0;
}

.header,
judul {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  font-variant: small-caps;
  background-color: salmon;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.content {
  display: flex;
}

.sidebar ul li {
  display: block;
  margin-top: 15px;
  margin-right: 60px;
  margin-left: 20px;
}

.sidebar a {
  text-decoration: none;
  color: salmon;
  padding: 5px;
}

.sidebar a:hover {
  background-color: lightgoldenrodyellow;
}

.content-right {
  display: inline-block;
  margin: auto;
}

.content-right,
judul-content {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.content-right img {
  margin-top: 20px;
  height: 280px;
  width: 830px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: 260 50;
  border-top: 5px solid lightblue transparent;
  border-bottom: 5px solid salmon transparent;
  margin-bottom: 20px;
}

.content-right h3 {
  text-align: left;
  padding-left: 20px;
}

.content-right .penulis {
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
}
.content-right p {
  font-size: 12px;
  text-align: justify;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

/* Style Button */
.content-right button {
  font-size: 15px;
  border-radius: 10%;
  color: #fff;
  border: 3px solid white;
  background-color: salmon;
  margin-bottom: 20px;
  padding: 5px;
}
/* Akhir Style Button */
.footer {
  background-color: salmon;
  padding: 10px;
  height: 40px;
  top: 0;
  bottom: 0;
}

.footer .copy {
  font-size: 20px;
  font-weight: 800;
  color: white;
  text-align: center;
}
